* {
  font-family: "Roboto", sans-serif;
}

.customers {
  border-collapse: collapse;
  width: 100%;
}

.customers td,
.customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

.customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

.customers tr:hover {
  background-color: #ddd;
}

.customers th {
  text-align: center;
  font-weight: bold;
  font-size: larger;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #055c9d;
  color: white;
}

#aktion {
  width: 13rem;
}

a:link,
a:visited {
  background-color: #055c9d;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
}

a:hover,
a:active {
  background-color: #003060;
}

body {
  position: relative;
}
#plus {
  bottom: 2rem;
  left: 2rem;
  width: 0rem;
  height: 0rem;
  position: fixed;
  background-color: #055c9d;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.5);
  text-align: none;
}

#plus:hover {
  background-color: #003060;
  animation: plus 0.5s;
}

#plus1 {
  bottom: 2rem;
  left: 2rem;
  width: 13rem;
  height: 0rem;
  position: fixed;
  background-color: #055c9d;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.5);
  text-align: none;
}

#plus1:hover {
  background-color: #003060;
}

@keyframes plus {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(90deg);
  }
}
table select {
  background-color: #f2f2f2;
  border: 0;
  padding: 0.5rem;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

table input[type="text"] {
  width: 95%;
  height: 100%;
  padding: 0.5rem;
  background-color: #f2f2f2;
  border: 0;
}

.table:hover {
  background-color: #f2f2f2 !important;
}

table input[type="submit"] {
  background-color: #055c9d;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  border: 0;
  width: 100%;
}

.table1:hover {
  background-color: #003060 !important;
}

table td > *,
td {
  font-size: 1em;
}

#Anmelden {
  background-color: #055c9d;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 30px;
  border: none;
  align-items: center;
}

.login {
  width: 20%;
  height: 26px;
  vertical-align: middle;
}

input[type="search1"] {
  bottom: 2rem;
  left: 7rem;
  width: 14rem;
  height: 4rem;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  color: white;
  background-color: #055c9d;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 8px 15px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  z-index: 100;
  font-size: 2rem;
  position: fixed;
  border: none;
  padding-left: 1rem;
}

input[type="search1"]:focus {
  width: 20%;
  border: none;
}

#exit {
  bottom: 2rem;
  left: 22rem;
  width: 0rem;
  height: 0rem;
  position: fixed;
  background-color: #055c9d;
  color: white;
  padding: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  user-select: none;
  box-shadow: 0px 0px 49px -2px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

#exit:hover {
  background-color: #003060;
}











body {
  font-family: Arial, Helvetica, sans-serif;
}
form {
  border: 3px solid #f1f1f1;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
